.cosonaLogoIcon {
  position: relative;
  width: 57.36px;
  height: 53.19px;
}
.cohereLogoIcon,
.cosonas {
  position: relative;
  color:white;
}
.cohereLogoIcon {
  width: 85.64px;
  height: 14.37px;
  margin-top: -2px;
}
.cosonasParent,
.cosonaLogoParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-decoration: none;
}
.cosonaLogoParent {
  align-self: stretch;
  border-radius: var(--br-mini);
  flex-direction: row;
  align-items: center;
  padding: var(--padding-mini) 0;
  gap: var(--gap-xl);
  font-size: var(--font-size-16xl);
}
.vectorIcon {
  position: relative;
  width: 25px;
  height: 21.88px;
}
.chats,
.vectorParent {
  flex: 1;
  display: flex;
  align-items: center;
}
.chats {
  position: relative;
  justify-content: center;
}
.vectorParent {
  border-radius: var(--br-3xs);
  background-color: var(--color-darkslateblue);
  height: 33px;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-17xl);
  box-sizing: border-box;
}
.vectorIcon1 {
  position: relative;
  width: 19.47px;
  height: 15.63px;
}
.frameParent{
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.frameParent {
  border-radius: var(--br-mini);
  justify-content: flex-start;
  padding: 0 var(--padding-11xs);
  gap: var(--gap-3xs);
}
.frameGroup{
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
}
.frameGroup {
  border-radius: var(--br-mini);
  width: 259px;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs);
  gap: var(--gap-3xs);
}
.colLeft,
.sideBar {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.sideBar {
  background-color: var(--color-gray);
  align-items: center;
  padding: var(--padding-3xl) var(--padding-mid);
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.colLeft {
  align-items: flex-start;
}
.inputText {
  position: relative;
  display: inline-block;
  width: 193px;
  flex-shrink: 0;
}

.mainFrame {
  width: 100vw;
  height: 100vh;
  display: flex;
}
.colRight {
  align-content: stretch;
  width: 100%;
  /*
  align-items: center; */
  text-align: left;
  font-size: var(--font-size-16xl);
  border-style: dotted;
}
.responseContainer{ 
  height: 70vh; 
  overflow: scroll;
  align-content: stretch;
}
.chatContainer{
  height: 25vh;
  display: flex;
  padding: 40px 20px;
  justify-content: center;
  align-items: center;
  gap: 31px;
  flex: 1 0 0;
}
.inputContainer{
  resize: none;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex: 1 0 0;
}
.mainFrame {
  position: absolute;
  top: 0;
  left: 0;
}
.chatDesignA {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #eae6de;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-6xl);
  color: var(--color-white);
  font-family: var(--font-consolas);
}
